<div class="row">
    <div class="col">
        <h3>Hide On/off</h3>
        <div *ngIf=m class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <button (click)="m = !m" class="btn btn-outline-primary">
            Mostrar/Ocultar
        </button>  
    </div>
    <div class="col">
        <h3>Repeat</h3>
        <ul class="list-group">
            <li *ngFor="let i of l; let o = index" class="list-group-item">
                {{o + 1}} - {{i}}
            </li>
        </ul>
    </div>
</div>